.accordion {
    background-color:#777;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top:2%;
    color:white;
}

.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.addContactForm{
    background-color:aliceblue;
    padding:2%;
}

.addContactForm input{
    margin:1%;
}

table{
    margin-bottom: 2%;
}

td:focus{
    background-color:aliceblue;    
}